{% extends "claim-details-tpl.njk" %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/task-list.njk" import taskListComponent %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CLAIM_TASK_LIST.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">

      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ t('PAGES.CLAIM_TASK_LIST.PAGE_TITLE') }}</h1>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ title }}</h2>
          <p class="govuk-body govuk-!-margin-bottom-2">{{ description }}</p>
          <p class="govuk-body govuk-!-margin-bottom-7">{{ t('PAGES.CLAIM_TASK_LIST.AFTER_COMPLETE') }}</p>
          {{ taskListComponent(taskLists, t) }}
        </div>
      </div>

{% endblock %}
