{% extends "claim-details-tpl.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/timeline-row.njk" import timelineRow %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/error-summary.njk" import errorSummary %}

{% set title = 'PAGES.DEFENDANT_TIMELINE.PAGE_TITLE' %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.DEFENDANT_TIMELINE.PAGE_TITLE') }}
{% endblock %}

{% block content %}

      {% set errors = form.getAllErrors() %}
      {% if errors.length > 0 %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t(title) }}</h1>
          <div class="govuk-description-block govuk-body">
            <h2 class="govuk-heading-s">{{ t('PAGES.DEFENDANT_TIMELINE.THEIR_TIMELINE') }}</h2>
            {% if theirTimeline and theirTimeline.length %}
              {% set timelineRows = [] %}
              {% for event in theirTimeline %}
                {% set timelineRows = (timelineRows.push([
                  {text: event.value.timelineDate | date},
                  {text: event.value.timelineDescription}
                ]), timelineRows) %}
              {% endfor %}
              {{ govukTable({
                caption: t('PAGES.DEFENDANT_TIMELINE.THEIR_TIMELINE'),
                captionClasses: "govuk-visually-hidden",
                head: [
                  {text: t('COMMON.DATE')},
                  {text: t('COMMON.TIMELINE.WHAT_HAPPENED')}
                ],
                rows: timelineRows
              }) }}
            {% elseif pdfUrl %}
              <p class="govuk-body">
                <a id="timeline-link" href="{{ pdfUrl }}" target="_blank" rel="noreferrer noopener" class="govuk-link">
                  {{ t('PAGES.DEFENDANT_TIMELINE.DOWNLOAD_AND_VIEW_TIMELINE') }}
                </a>
              </p>
            {% endif %}
          </div>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0">{{ t('PAGES.DEFENDANT_TIMELINE.ADD_YOUR_TIMELINE') }}</h2>
          <p class="govuk-body">
            {{ t('PAGES.DEFENDANT_TIMELINE.INCLUDE_DATES_IF_YOU_KNOW') }}
          </p>

          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <div class="govuk-grid-column-one-half govuk-!-display-inline govuk-!-padding-left-0">
              <span id="timeline-date-heading" class="govuk-label--s">
                {{ t('COMMON.DATE') }}
              </span>
              <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                {{ t('COMMON.DATE_EXAMPLE', { date: today.getDate() + ' ' + today.getMonth() + ' ' + (today.getFullYear() - 1)}) }}
              </p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-display-inline govuk-!-padding-left-0">
              <span id="timeline-description-heading" class="govuk-label--s">
                {{ t('COMMON.TIMELINE.WHAT_HAPPENED') }}
              </span>
              <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                {{ t('COMMON.TIMELINE.EXAMPLE_EVENT') }}
              </p>
            </div>

            <div id="rows">
              {% for timeline in form.model.rows %}
                {{ timelineRow(timeline, loop.index0, form, t) }}
              {% endfor %}
            </div>

            {{ govukButton({
              text: t('COMMON.BUTTONS.ADD_ANOTHER_EVENT'),
              classes: "govuk-button--secondary append-row"
            }) }}
            {{ govukTextarea({
              id: "comment",
              name: "comment",
              label: {
                text: t('PAGES.DEFENDANT_TIMELINE.ADD_ANY_COMMENTS'),
                classes: "govuk-label--s",
                isPageHeading: false
              },
              value: form.model.comment,
              classes: "govuk-grid-column-full",
              spellcheck: false,
              errorMessage: { text: t(form.errorFor("comment")) } if form.hasFieldError("comment")
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("COMMON.BUTTONS.SAVE_AND_CONTINUE")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>

{% endblock %}
