{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./interest-snippet.njk" import interestSnippet %}

{% macro amountBreakdownTable(t, claim, interestData, totalAmount, fixedCost) %}
  {% set rows = [] %}
  {% for breakup in claim.claimAmountBreakup %}
    {% set rows = (rows.push([
      {text: breakup.value.claimReason},
      {text: breakup.value.claimAmount | pennies2pounds | currencyFormat(breakup.value.claimAmount), classes: 'govuk-!-text-align-right'}
    ]), rows) %}
  {% endfor %}
  {% if claim.totalInterest > 0 %}
    {% set interestLabel %}
      {% if interestData.rate %}
        {{ govukDetails({
          summaryText: t('PAGES.CLAIM_DETAILS.INTEREST'),
          classes : "govuk-!-margin-0",
          text: interestSnippet(t, interestData.rate, interestData.numberOfDays, interestData.interestFromDate, interestData.interestToDate)
          }) }}
      {% else %}
        {{ t('PAGES.CLAIM_DETAILS.INTEREST') }}
      {% endif %}
    {% endset %}
    {% set rows = (rows.push([
      {html: interestLabel},
      {text: claim.totalInterest | currencyFormat(claim.totalInterest), classes: 'govuk-!-text-align-right'}
    ]), rows) %}
  {% endif %}
  {% if fixedCost !== undefined %}
    {% set rows = (rows.push([
      {text: t('PAGES.CLAIM_DETAILS.CLAIM_FIXED_COSTS')},
      {text: fixedCost | currencyFormat(fixedCost), classes: 'govuk-!-text-align-right'}
    ]), rows) %}
  {% endif %}
  {% if claim.claimFee.calculatedAmountInPence !== undefined %}
    {% set feeText = claim.claimFee.calculatedAmountInPence | pennies2pounds | currencyFormat(claim.claimFee.calculatedAmountInPence) %}
  {% else %}
    {% set feeText = '£0' %}
  {% endif %}
  {% set rows = (rows.push([
    {text: t('PAGES.CLAIM_DETAILS.CLAIM_FEE')},
    {text: feeText, classes: 'govuk-!-text-align-right'}
  ]), rows) %}
  {% set rows = (rows.push([
    {text: t('PAGES.CLAIM_DETAILS.CLAIM_TOTAL'), classes: 'govuk-!-font-weight-bold'},
    {text: totalAmount | currencyFormat(totalAmount), classes: 'govuk-!-font-weight-bold govuk-!-text-align-right'}
  ]), rows) %}

  {{ govukTable({
    caption: t('PAGES.CLAIM_DETAILS.AMOUNT_BREAKDOWN'),
    captionClasses: "govuk-visually-hidden",
    head: [
      {text: t('PAGES.CLAIM_DETAILS.AMOUNT_BREAKDOWN')},
      {text: t('PAGES.CLAIM_DETAILS.AMOUNT'), classes: 'govuk-!-text-align-right'}
    ],
    rows: rows
  }) }}
{% endmacro %}
