{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% macro headerComponent(t, user, serviceName = null) %}
  {# In UI Preview (e2eTest), keep designers on the catalogue instead of leaving the app. #}
  {% set homepageHref = UiPreviewUrl if e2eTestMode else 'https://www.gov.uk' %}
  {# Logo-only GOV.UK header plus service navigation is the Design System pattern (GOV.UK Frontend 5+/6). Do not hand-write govuk-header markup. #}
  <div class="civil-header">
    {{ govukHeader({
      homepageUrl: homepageHref
    }) }}
    {{ govukServiceNavigation({
      serviceName: serviceName or "Money Claims",
      serviceUrl: "/dashboard",
      navigation: [
        {
          href: "/dashboard",
          text: t('COMMON.HEADER.MY_ACCOUNT')
        },
        {
          href: "/logout",
          text: t('COMMON.HEADER.SIGN_OUT')
        }
      ]
    }) }}
  </div>
{% endmacro %}
