{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{# Official GOV.UK task list. Item objects are built in TypeScript
  (`toGovukTaskListItems`) because Nunjucks cannot parse `{% set x = [{...}] %}`.
  Extra class `app-task-list__item` keeps Codecept locators working. #}
{% macro taskListComponent(dashboardTaskList, t) %}
  {% for taskList in dashboardTaskList %}
    <div class="{{ 'govuk-!-display-none' if taskList.tasks.length===0 }}">
      <h2 class="govuk-heading-m">
        {{ t(taskList.title) }}
      </h2>
      {{ govukTaskList({
        idPrefix: 'tasks-' + loop.index,
        items: toGovukTaskListItems(taskList.tasks, t)
      }) }}
    </div>
  {% endfor %}
{% endmacro %}
