{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro timelineSummary(t, timelineRows) %}
  <h2 class="govuk-heading-s">{{ t('PAGES.CLAIM_DETAILS.TIMELINE') }}</h2>
  {% set rows = [] %}
  {% for event in timelineRows %}
    {% set rows = (rows.push([
      {text: event.timelineDate},
      {text: event.timelineDescription}
    ]), rows) %}
  {% endfor %}
  {{ govukTable({
    caption: t('PAGES.CLAIM_DETAILS.TIMELINE'),
    captionClasses: "govuk-visually-hidden",
    head: [
      {text: t('COMMON.DATE')},
      {text: t('COMMON.TIMELINE.WHAT_HAPPENED')}
    ],
    rows: rows
  }) }}
{% endmacro %}
