{% extends "./default-template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block qmContent %}

  {{ govukRadios({
    idPrefix: "option",
    name: "option",
    fieldset: {
      legend: {
        text: (t(caption) + ' ' if caption else '') + t(title),
        isPageHeading: false,
        classes: 'govuk-visually-hidden'
      }
    },
    items: form.model.items,
    errorMessage: {
      text: t(form.errorFor('option'))
    } if form.hasErrors()
  }) }}

{% endblock %}

