{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/help-calculating-interest.njk" import setContent %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}
{% set detailsHtml %}
  {% if (judgmentSummaryDetails.isBreakDownInterest) %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ t('PAGES.JUDGMENT_AMOUNT.HOW_INTEREST_IS_CALCULATED',{reason:judgmentSummaryDetails.howInterestIsCalculatedReason,numberOfDays:
          judgmentSummaryDetails.numberOfDays}) }}
      </p>
      <p class="govuk-body-s">
        {{ t('PAGES.JUDGMENT_AMOUNT.TOTAL_PERIOD',{
          interestFromDate: judgmentSummaryDetails.interestStartDate,
          interestToDate: judgmentSummaryDetails.interestEndDate}) }}
      </p>
  {% else %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ t('PAGES.JUDGMENT_AMOUNT.INTEREST_TO_DATE_RESPONSE',{
          interestRate: judgmentSummaryDetails.interestRate,
          numberOfDays: judgmentSummaryDetails.numberOfDays}) }}
      </p>
      <p class="govuk-body-s">
        {{ t('PAGES.JUDGMENT_AMOUNT.TOTAL_PERIOD',{
          interestFromDate: judgmentSummaryDetails.interestStartDate,
          interestToDate: judgmentSummaryDetails.interestEndDate}) }}
      </p>
  {% endif %}
{% endset %}

{% block content %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">{{ t('PAGES.JUDGMENT_AMOUNT.TITLE') }}</h1>
                    {% if judgmentSummaryDetails.isChargeableInterest %}
                    <p
                                                  class="govuk-body-m">{{ t('PAGES.JUDGMENT_AMOUNT.FA_JUDGMENT_STATEMENT' , {subTotal : judgmentSummaryDetails.total}) }}</p>
                    {% else %}
                        <p
                                                        class="govuk-body-m">{{ t('PAGES.JUDGMENT_AMOUNT.PA_JUDGMENT_STATEMENT' , {subTotal : judgmentSummaryDetails.totalWithoutFeeAndInterest}) }}</p>
                    {% endif %}
                    {% set amountBreakdownHeader %}
                      <span class="govuk-visually-hidden">{{ t('COMMON.CLAIM_AMOUNT_BREAKDOWN') }}</span>
                    {% endset %}
                    {% set judgmentRows = [] %}
                    {% set judgmentRows = (judgmentRows.push([
                      {text: t('COMMON.CLAIM_AMOUNT')},
                      {text: t("£" + claimAmount), classes: 'govuk-!-text-align-right'}
                    ]), judgmentRows) %}
                    {% if judgmentSummaryDetails.claimHasInterest %}
                      {% set interestCell %}
                        {{ govukDetails({
                          summaryText: t('PAGES.JUDGMENT_AMOUNT.INTEREST_TO_DATE'),
                          html: detailsHtml
                        }) }}
                      {% endset %}
                      {% set judgmentRows = (judgmentRows.push([
                        {html: interestCell},
                        {text: t("£" + judgmentSummaryDetails.interestToDate), classes: 'govuk-!-text-align-right'}
                      ]), judgmentRows) %}
                    {% endif %}
                    {% set judgmentRows = (judgmentRows.push([
                      {text: t('PAGES.JUDGMENT_AMOUNT.CLAIM_FEE_AMOUNT')},
                      {text: t("£" + judgmentSummaryDetails.claimFeeAmount), classes: 'govuk-!-text-align-right'}
                    ]), judgmentRows) %}
                    {% if judgmentSummaryDetails.hasDefendantAlreadyPaid %}
                      {% set judgmentRows = (judgmentRows.push([
                        {text: t('PAGES.JUDGMENT_AMOUNT.SUBTOTAL'), classes: 'govuk-!-font-weight-bold'},
                        {text: t("£" + judgmentSummaryDetails.subTotal), classes: 'govuk-!-font-weight-bold govuk-!-text-align-right'}
                      ]), judgmentRows) %}
                      {% set judgmentRows = (judgmentRows.push([
                        {text: t('PAGES.JUDGMENT_AMOUNT.AMOUNT_ALREADY_PAID')},
                        {text: t("£" + judgmentSummaryDetails.alreadyPaidAmount), classes: 'govuk-!-text-align-right'}
                      ]), judgmentRows) %}
                    {% endif %}
                    {% set judgmentRows = (judgmentRows.push([
                      {text: t('PAGES.JUDGMENT_AMOUNT.CLAIM_TOTAL'), classes: 'govuk-!-font-weight-bold'},
                      {text: t("£" + judgmentSummaryDetails.total), classes: 'govuk-!-font-weight-bold govuk-!-text-align-right'}
                    ]), judgmentRows) %}
                    {{ govukTable({
                      caption: t('COMMON.CLAIM_AMOUNT_BREAKDOWN'),
                      captionClasses: "govuk-visually-hidden",
                      head: [
                        {html: amountBreakdownHeader, classes: 'govuk-!-text-align-right'},
                        {text: t('COMMON.AMOUNT'), classes: 'govuk-!-text-align-right'}
                      ],
                      rows: judgmentRows
                    }) }}

                    <form method="post" novalidate>
                      {{ csrfProtection(csrf) }}
                        <div class="govuk-form-group">
                          {{ govukButton({
                            text: t('COMMON.BUTTONS.CONTINUE')
                          }) }}
                          {{ contactUsForHelp(t) }}
                        </div>
                    </form>
                </div>
            </div>

{% endblock %}
