{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "./claim-summary-content.njk" import claimSummaryContent %}
{% from "../../macro/notifications.njk" import notifications %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "../../macro/support-links.njk" import supportLinks %}
{% from "../../macro/banner.njk" import addBanner %}

{% block nestedContent %}
        {% block warning_message %}
          {{ addBanner("2026-07-19T07:00+01:00", "2026-07-24T01:15+01:00", t('BANNERS.CUI_MAIN_WELSH_LIP.MESSAGE')) }}
        {% endblock %}
        {% block welsh_party_message %}
          {% include "../../macro/welsh_party_banner.njk" %}
        {% endblock %}
        {% if showErrorAwaitingTranslation %}
          {{ govukWarningText({
            text: t('ERRORS.DOCUMENTS_BEING_TRANSLATED'),
            iconFallbackText: "Warning"
          }) }}
        {% endif %}
        {% set claimantName = claim.getClaimantFullName() %}
        {% set defendantName = claim.getDefendantFullName() %}
        {% set hintText = t('COMMON.CLAIMANT_DASHBOARD_HINT_TEXT') if claim.isClaimant() else t('COMMON.DEFENDANT_DASHBOARD_HINT_TEXT')%}
        {% if claimantName and defendantName %}
          <h1 class="govuk-heading-m">{{ claimantName }} v {{ defendantName }}</h1>
        {% endif %}
        {% if claimIdPrettified %}
          <p class="govuk-body-m govuk-!-margin-bottom-0">
              {{ t('COMMON.CASE_NUMBER') }}
              {{ claimIdPrettified }}
          </p>
        {% endif %}
        {% if claimAmountFormatted %}
          <p class="govuk-body-m">{{  t('COMMON.CLAIM_AMOUNT_WITH_VALUE', {claimAmount: claimAmountFormatted}) + ' (' + hintText+ ')'}}</p>
        {% endif %}

        <div class="border-small-top"></div>
         <div class="dashboard-notification">
          {% for notification in dashboardNotifications.items %}
              {% set titleId = 'dashboard-notification-banner-title-' ~ loop.index0 %}
              {{ govukNotificationBanner({
                 titleText: notification.titleCy if lang=="cy" else notification.titleEn,
                 html: notification.descriptionCy if lang=="cy" else notification.descriptionEn,
                 titleId: titleId,
                 classes: "govuk-!-margin-bottom-4"
               })  }}
          {% endfor %}
         </div>
          {% for taskList in dashboardTaskList.items %}
            <div class="{{ 'govuk-!-display-none' if taskList.tasks.length===0}}">
              <h2 class="govuk-heading-m" id="tasklist-heading-{{ loop.index }}">
                 {% if lang=="cy"%} {{ taskList.categoryCy }} {% else %} {{ taskList.categoryEn}} {% endif %}
              </h2>
              {{ govukTaskList({
                idPrefix: 'dashboard-tasks-' + loop.index,
                items: toDashboardGovukTaskListItems(taskList.tasks, lang)
              }) }}
            </div>
          {% endfor %}
{% endblock %}
