{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../macro/banner.njk" import addBanner %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.DASHBOARD.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ t('PAGES.DASHBOARD.TITLE') }}</h1>
  {% if showUpdateStatus %}
    {{ govukWarningText({
      text: t('PAGES.DASHBOARD.UPDATING_STATUS'),
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {% block warning_message %}
    {{ addBanner("2026-07-19T07:00+01:00", "2026-07-24T01:15+01:00", t('BANNERS.CUI_MAIN_WELSH_LIP.MESSAGE')) }}
  {% endblock %}

  {% if not claimDraftSaved %}
    <p class="govuk-body">
      <a class="govuk-link govuk-!-font-weight-bold" href={{ newOcmcClaimUrl }} target="_blank" rel="noreferrer noopener">
        {{ t('PAGES.DASHBOARD.MAKE_A_NEW_CLAIM')}}
      </a>
    </p>
  {% endif %}
  {% if claimsAsClaimant | length or claimDraftSaved | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m" id="claimant-section-heading">{{ t('PAGES.DASHBOARD.CLAIMANT_TITLE') }}</h2>
         <p class="govuk-body">
           {{ t('PAGES.DASHBOARD.CLAIM_PROMPT') }}
         </p>
        {% set claimantRows = [] %}
        {% if claimDraftSaved | length %}
          {% set viewClaimNumberDraft = t('PAGES.DASHBOARD.VIEW_CLAIM_NUMBER', {claimNumber:t(claimDraftSaved.claimNumber) }) %}
          {% set draftClaimNumberHtml %}
            <a class="govuk-link table-link" href="{{ claimDraftSaved.getHref() }}" aria-label="{{ viewClaimNumberDraft }}">
              {{ t(claimDraftSaved.claimNumber) }}
            </a>
          {% endset %}
          {% set claimantRows = (claimantRows.push([
            {html: draftClaimNumberHtml},
            {text: '-'},
            {text: '-'},
            {text: '-'}
          ]), claimantRows) %}
        {% endif %}
        {% for item in claimsAsClaimant %}
          {% set viewClaimNumber = t('PAGES.DASHBOARD.VIEW_CLAIM_NUMBER', {claimNumber:item.claimNumber })%}
          {% set claimNumberHtml %}
            <a class="govuk-link table-link" href="{{ item.getHref() }}" aria-label="{{ viewClaimNumber }}">
              {{ item.claimNumber }}
            </a>
          {% endset %}
          {% set claimantRows = (claimantRows.push([
            {html: claimNumberHtml},
            {text: item.defendantName},
            {text: item.claimAmount | currencyFormat(item.claimAmount)},
            {html: item.getStatus(lang)}
          ]), claimantRows) %}
        {% endfor %}
        {{ govukTable({
          caption: t('PAGES.DASHBOARD.CLAIMANT_TITLE'),
          captionClasses: "govuk-visually-hidden",
          attributes: {
            "aria-labelledby": "claimant-section-heading"
          },
          head: [
            {text: t('PAGES.DASHBOARD.CLAIM_NUMBER')},
            {text: t('PAGES.DASHBOARD.DEFENDANT_NAME')},
            {text: t('COMMON.CLAIM_AMOUNT')},
            {text: t('PAGES.DASHBOARD.CLAIM_STATUS')}
          ],
          rows: claimantRows
        }) }}
      </div>
    </div>
  {% endif %}
   {% if paginationArgumentClaimant %}
    {{ govukPagination({
      previous: paginationArgumentClaimant.previous,
      next: paginationArgumentClaimant.next,
      items: paginationArgumentClaimant.items
    }) }}
  {% endif %}
  {% if claimsAsDefendant | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m" id="defendant-section-heading">{{ t('PAGES.DASHBOARD.DEFENDANT_TITLE') }}</h2>
         <p class="govuk-body">
           {{ t('PAGES.DASHBOARD.CLAIM_PROMPT') }}
         </p>
        {% set defendantRows = [] %}
        {% for item in claimsAsDefendant %}
          {% set viewClaimNumberDefendant = t('PAGES.DASHBOARD.VIEW_CLAIM_NUMBER', {claimNumber:item.claimNumber }) %}
          {% set defendantClaimNumberHtml %}
            <a class="govuk-link table-link" href="{{ item.getHref() }}" aria-label="{{ viewClaimNumberDefendant }}">
              {{ item.claimNumber }}
            </a>
          {% endset %}
          {% set defendantRows = (defendantRows.push([
            {html: defendantClaimNumberHtml},
            {text: item.claimantName},
            {text: item.claimAmount | currencyFormat(item.claimAmount)},
            {html: item.getStatus(lang)}
          ]), defendantRows) %}
        {% endfor %}
        {{ govukTable({
          caption: t('PAGES.DASHBOARD.DEFENDANT_TITLE'),
          captionClasses: "govuk-visually-hidden",
          attributes: {
            "aria-labelledby": "defendant-section-heading"
          },
          head: [
            {text: t('PAGES.DASHBOARD.CLAIM_NUMBER')},
            {text: t('PAGES.DASHBOARD.CLAIMANT_NAME')},
            {text: t('COMMON.CLAIM_AMOUNT')},
            {text: t('PAGES.DASHBOARD.CLAIM_STATUS')}
          ],
          rows: defendantRows
        }) }}
      </div>
    </div>
  {% endif %}
  {% if paginationArgumentDefendant %}
    {{ govukPagination({
      previous: paginationArgumentDefendant.previous,
      next: paginationArgumentDefendant.next,
      items: paginationArgumentDefendant.items
    }) }}
  {% endif %}
  {{ contactUsForHelp(t) }}
{% endblock %}
